<header class="header" [class.scrolled]="isScrolled">
  <div class="container header-inner">

    <div class="logo" routerLink="/">
    <img src="assets/images/logo_realcf.png" alt="Real Coffee" />
    <span>Real Coffee</span>
  </div>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a href="#">Service</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </nav>

    <div class="header-actions">
      <button class="icon-btn" aria-label="Search">
        <svg viewBox="0 0 24 24">
          <circle cx="11" cy="11" r="7"></circle>
          <line x1="16.5" y1="16.5" x2="22" y2="22"></line>
        </svg>
      </button>

      <button
        class="icon-btn"
        aria-label="Login"
        routerLink="/login"
      >
        <svg viewBox="0 0 24 24">
          <circle cx="12" cy="8" r="4"></circle>
          <path d="M4 22c0-4 4-6 8-6s8 2 8 6"></path>
        </svg>
      </button>

    </div>
  </div>
</header>
