.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    background: #f2efe9;
    color: var(--coffee-dark);
    font-weight: 600;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--coffee-dark);
}

.logo img {
    height: 42px;
    width: auto;
    object-fit: contain;
}

nav a {
    margin-left: 1.0rem;
    color: var(--coffee-main);
    text-decoration: none;
    line-height: 1; 
}
