<header class="header" [class.scrolled]="isScrolled">
  <div class="container header-inner">

    <div class="logo" routerLink="/">
    <img src="assets/images/logo_realcf.png" alt="Real Coffee" />
    <span>Real Coffee</span>
  </div>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a href="#">Service</a>
      <a href="#">Blog</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</header>
