.hero {
    background: var(--bg-main);
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.slides {
    height: 100%;
}

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.65);
}

.content {
    position: relative;
    z-index: 2;
    max-width: 50%;
    padding: 0 10%;
    top: 50%;
    transform: translateY(-40%);
    color: var(--text-main);
    opacity: 0;
    transition: all 0.8s ease;
}

.slide.active .content {
    opacity: 1;
    transform: translateY(-50%);
}

.slide.active .title {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

.slide.active .subtitle {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

.slide.active .cta {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.content h1 {
    color: var(--coffee-dark);
    font-size: 3rem;
    font-weight: bold;
}

.content p {
    margin: 1rem 0;
    color: var(--text-muted);
    font-weight: 600;
}

.content button {
    margin-top: 1rem;
    padding: 0.8rem 1.6rem;
    border-radius: 30px;
    border: none;
    background: var(--coffee-main);
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    border: none;
    color: #fff;
    font-size: 2rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    z-index: 3;
}

.prev { left: 20px; }
.next { right: 20px; }

.dots {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    z-index: 3;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 6px;
    border-radius: 50%;
    background: #aaa;
    cursor: pointer;
}

.dot.active {
     background: #c7a17a;  
}

.title,
.subtitle,
.cta {
    opacity: 0;
    transform: translatey(30px);
    transition: 
        opacity 0.6s ease,
        transform 0.6s ease;
}
