<pre>{{brands | json}}</pre>
<div class="page">
  <h2>Duyệt thương hiệu</h2>

  <p *ngIf="loading">Đang tải...</p>
  <p class="error" *ngIf="error">{{ error }}</p>

  <div *ngIf="!loading && brands.length === 0">
    Không có thương hiệu chờ duyệt
  </div>
  
  <table *ngIf="!loading && brands.length > 0">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Seller</th>
        <th>Logo</th>
        <th>Giấy phép</th>
        <th>Hành động</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let b of brands">
        <td>{{ b.name }}</td>
        <td>{{ b.ownerId?.email }}</td>

        <td>
          <img [src]="b.logo" class="img" />
        </td>

        <td>
          <a [href]="b.licenseImage" target="_blank">
            Xem ảnh
          </a>
        </td>

        <td>
          <button class="approve" (click)="approve(b._id)">
            Duyệt
          </button>

          <button class="reject" (click)="reject(b._id)">
            Từ chối
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && brands.length === 0">
    Không có brand nào đang chờ duyệt
  </p>

</div>
