<section class="products">
  <div class="container">

    <h2 class="section-title reveal" appReveal>
      Sản phẩm Real Coffee
    </h2>

    <div class="grid">
      @for (p of products; track p.name) {
        <div class="card reveal" appReveal>

          <div class="image">
            <img [src]="p.image" [alt]="p.name" />
          </div>

          <div class="info">
            <h3>{{ p.name }}</h3>
            <p class="price">{{ p.price | number }} đ</p>
            <button>Xem chi tiết</button>
          </div>

        </div>
      }
    </div>

  </div>
</section>
