.products {
    padding: 6rem 10%;
    background: var(--bg-section);
    color: var(--text-main);
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 2.2rem;
    color: var(--coffee-dark);
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem;
}

/* card */
.card {
    background: #fff;
    border: 3px solid var(--border-light);
    border-radius: 16px;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

/* image */
.image {
    overflow: hidden;
}

.image img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.card:hover img {
    transform: scale(1.05);
}

/* info */
.info {
    padding: 1.5rem;
    text-align: center;
}

.info h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.price {
    color: var(--coffee-main);
    margin-bottom: 1rem;
    font-weight: 600;
}

.info button {
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    border: none;
    background: var(--coffee-main);
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
